/* Typography */
body,
ul,
li,
p,
a,
label,
input,
div {
    font-family: $mainFont;
    font-size: 18px;
    font-weight: 300;
}

.h1 {
    font-family: $mainFont;
    font-size: 48px;
    font-weight: 200;
}

.h2 {
    font-family: $mainFont;
    font-size: 30px;
    font-weight: 300;
}

.h3 {
    font-family: $mainFont;
    font-size: 22px;
}

/* General */
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
.menu_bar{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;  
    li{
        margin: 10px;
        a{
            color: #000;
            font-size: 0.9rem;
            font-weight: 500;

            &:hover{
                color: #5a5959;
                text-decoration: underline;
            }
        }
    }
}
.backtohome{
    position: absolute;
    top : 10px;
    left: 10px;
    font-size: 0.9rem;
    color: #000;
    font-weight: 500;
    &:hover{
        color: #5a5959;
    }
}
.timefull-wrap{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    h1{
        font-size: 2rem;
        background-color: #fff;
        padding: 10px 20px;
        border-radius: 10px;
        box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    }
}